table{
    background-color: #212529;
   
}

th{
    text-align: center !important;
}
td{
    text-align: center !important;
}

mat-paginator{
    background-color: #212529;
    color: white;
}

mat-paginator span{
    background-color: #212529;
    color: white;
}

::ng-deep .mat-select-arrow {
    color: white;
}

::ng-deep .mat-select-value {
    color: white;
}

th{
    color: white;
    font-size: 12px;
    border: solid 1px white;
    text-align: center;
}

td{
    color: white;
    font-size: 10px;
    border: solid 1px white;
}

.boton{
    border: solid 1px white;
    margin-top: 5px;
    background-color: transparent;
    color: white;
    
    margin-left: 10px;
}
.boton:hover{
    background-color: aquamarine ;
    box-shadow: 5px 5px red;
    
}

.boton2{
background-color: #212529;
border: none;
color: white;
}
.boton2:hover{
    
    box-shadow: 5px 5px red;
    
    }