<div class="container">
  <mat-tab-group animationDuration="0ms">
    <!--Primera pestaña-->
    <mat-tab label="Juegos">
      <br />
      <mat-form-field class="col-10">
        <mat-label>Buscar...</mat-label>
        <!-- Buscador -->
        <input
          matInput
          (keyup)="applyFilter($event)"
          placeholder="Minecraft, Hollow Knight..."
          #input
          autocomplete="off"
        />
      </mat-form-field>
      <!-- Boton para añadir -->
      <button class="col-2 boton2" (click)="anadirArticulos($event, 'juego')">
        Añadir juego
      </button>
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" class="col-12">
          <!-- Columna id -->
          <ng-container matColumnDef="Id">
            <th mat-header-cell *matHeaderCellDef>Id</th>
            <td mat-cell *matCellDef="let element">{{ element.id }}</td>
          </ng-container>
          <!-- Columna nombre -->
          <ng-container matColumnDef="Nombre">
            <th mat-header-cell *matHeaderCellDef>Nombre</th>
            <td mat-cell *matCellDef="let element">{{ element.nombre }}</td>
          </ng-container>
          <!-- Columna descripcion -->
          <ng-container matColumnDef="Descripcion">
            <th mat-header-cell *matHeaderCellDef>Descripcion</th>
            <td mat-cell *matCellDef="let element">
              {{ element.descripcion }}
            </td>
          </ng-container>
          <!-- Columna precio -->
          <ng-container matColumnDef="Precio">
            <th mat-header-cell *matHeaderCellDef>Precio</th>
            <td mat-cell *matCellDef="let element">{{ element.precio }}</td>
          </ng-container>
          <!-- Columna fecha -->
          <ng-container matColumnDef="Fecha">
            <th mat-header-cell *matHeaderCellDef>Fecha salida</th>
            <td mat-cell *matCellDef="let element">
              {{ element.fecha_salida }}
            </td>
          </ng-container>
          <!-- Columna de botones-->
          <ng-container matColumnDef="Modificar">
            <th mat-header-cell *matHeaderCellDef>Modificar</th>
            <td mat-cell *matCellDef="let element">
              <button
                mat-raised-button
                class="boton"
                (click)="modificarArticulos(element, 'juego')"
              >
                Modificar
              </button>

              <button
                mat-raised-button
                class="boton borrar"
                (click)="borrarArticulos(element)"
              >
                Borrar
              </button>
              <br />
              <br />
            </td>
          </ng-container>
          <!-- Columnas que se van a usar -->
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>

        <!--Paginador -->
        <mat-paginator
          [pageSizeOptions]="[5, 10, 20]"
          showFirstLastButtons
        ></mat-paginator>
      </div>
    </mat-tab>

    <!-- Segunda pestaña -->
    <mat-tab label="Usuarios">
      <br />
      <mat-form-field class="col-10">
        <mat-label>Buscar...</mat-label>
        <!-- Buscador -->
        <input
          matInput
          (keyup)="applyFilterUsu($event)"
          placeholder="Minecraft, Hollow Knight..."
          #input
          autocomplete="off"
        />
      </mat-form-field>

      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSourceUsuarios" class="col-12">
          <!-- Columna id -->
          <ng-container matColumnDef="Id">
            <th mat-header-cell *matHeaderCellDef>Id</th>
            <td mat-cell *matCellDef="let element">{{ element.id }}</td>
          </ng-container>
          <!-- Columna nombre-->
          <ng-container matColumnDef="Nombre">
            <th mat-header-cell *matHeaderCellDef>Nombre</th>
            <td mat-cell *matCellDef="let element">{{ element.nombre }}</td>
          </ng-container>
          <!-- Columna apellidos-->
          <ng-container matColumnDef="Apellidos">
            <th mat-header-cell *matHeaderCellDef>Apellidos</th>
            <td mat-cell *matCellDef="let element">{{ element.apellidos }}</td>
          </ng-container>
          <!-- Columna contraseña-->
          <ng-container matColumnDef="Password">
            <th mat-header-cell *matHeaderCellDef>Contraseña</th>
            <td mat-cell *matCellDef="let element">{{ element.password }}</td>
          </ng-container>
          <!-- Columna nick-->
          <ng-container matColumnDef="Nick">
            <th mat-header-cell *matHeaderCellDef>Nombre Usuario</th>
            <td mat-cell *matCellDef="let element">{{ element.nick }}</td>
          </ng-container>
          <!-- Columna telefono-->
          <ng-container matColumnDef="Telefono">
            <th mat-header-cell *matHeaderCellDef>Telefono</th>
            <td mat-cell *matCellDef="let element">{{ element.telefono }}</td>
          </ng-container>
          <!-- Columna email-->
          <ng-container matColumnDef="Email">
            <th mat-header-cell *matHeaderCellDef>Email</th>
            <td mat-cell *matCellDef="let element">{{ element.email }}</td>
          </ng-container>
          <!-- Columna admin-->
          <ng-container matColumnDef="Es_admin">
            <th mat-header-cell *matHeaderCellDef>Admin?</th>
            <td mat-cell *matCellDef="let element">
              {{ (element.es_administrador === 1 && "Si") || (!0 && "No") }} <!--Compruebo si el usuario es admin-->
            </td>
          </ng-container>

          <!-- Columna de botones modificar-->
          <ng-container matColumnDef="Modificar">
            <th mat-header-cell *matHeaderCellDef>Modificar</th>
            <td mat-cell *matCellDef="let element">
              <button
                mat-raised-button
                class="boton"
                (click)="modificarUsuario(element)"
              >
                Modificar
              </button>

              <button
                mat-raised-button
                class="boton borrar"
                (click)="borrarUsuario(element)"
              >
                Borrar
              </button>
              <br />
              <br />
            </td>
          </ng-container>
          <!-- Columnas que se van a usar -->
          <tr mat-header-row *matHeaderRowDef="displayedColumnsUsu"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsUsu"></tr>
        </table>
      </div>

      <!-- Paginador -->
      <mat-paginator
        #usu
        [pageSizeOptions]="[5, 10, 20]"
        showFirstLastButtons
      ></mat-paginator>
    </mat-tab>

    <!-- Tercera pestaña -->
    <mat-tab label="Merchandising">
      <br />
      <mat-form-field class="col-10">
        <mat-label>Buscar...</mat-label>
        <!-- Buscador -->
        <input
          matInput
          (keyup)="applyFilterMerch($event)"
          placeholder="Minecraft, Hollow Knight..."
          #input
          autocomplete="off"
        />
      </mat-form-field>
      <!-- Boton para añadir -->
      <button class="col-2 boton2" (click)="anadirArticulos($event, 'merch')">
        Añadir merch
      </button>
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSourceMerch" class="col-12">
          <!-- Columna id-->
          <ng-container matColumnDef="Id">
            <th mat-header-cell *matHeaderCellDef>Id</th>
            <td mat-cell *matCellDef="let element">{{ element.id }}</td>
          </ng-container>
          <!-- Columna nombre-->
          <ng-container matColumnDef="Nombre">
            <th mat-header-cell *matHeaderCellDef>Nombre</th>
            <td mat-cell *matCellDef="let element">{{ element.nombre }}</td>
          </ng-container>

          <!-- Columna descripcion-->
          <ng-container matColumnDef="Descripcion">
            <th mat-header-cell *matHeaderCellDef>Descripcion</th>
            <td mat-cell *matCellDef="let element">
              {{ element.descripcion }}
            </td>
          </ng-container>

          <!-- Columna precio-->
          <ng-container matColumnDef="Precio">
            <th mat-header-cell *matHeaderCellDef>Precio</th>
            <td mat-cell *matCellDef="let element">{{ element.precio }}</td>
          </ng-container>

          <!-- Columna fecha-->
          <ng-container matColumnDef="Fecha">
            <th mat-header-cell *matHeaderCellDef>Fecha salida</th>
            <td mat-cell *matCellDef="let element">
              {{ element.fecha_salida }}
            </td>
          </ng-container>

          <!-- Columna de botones-->
          <ng-container matColumnDef="Modificar">
            <th mat-header-cell *matHeaderCellDef>Modificar</th>
            <td mat-cell *matCellDef="let element">
              <button
                mat-raised-button
                class="boton"
                (click)="modificarArticulos(element, 'merch')"
              >
                Modificar
              </button>

              <button
                mat-raised-button
                class="boton borrar"
                (click)="borrarArticulos(element)"
              >
                Borrar
              </button>
              <br />
              <br />
            </td>
          </ng-container>
          <!-- Columnas que se van a usar -->
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
        <!-- Paginador -->
        <mat-paginator
          #usu2
          [pageSizeOptions]="[5, 10, 20]"
          showFirstLastButtons
        ></mat-paginator>
      </div>
    </mat-tab>

    <!-- Cuarta pestaña -->
    <mat-tab label="Ofertas">
      <br />
      <!-- Buscador -->
      <mat-form-field class="col-10">
        <mat-label>Buscar...</mat-label>
        <input
          matInput
          (keyup)="applyFilterOfertas($event)"
          placeholder="Minecraft, Hollow Knight..."
          #input
          autocomplete="off"
        />
      </mat-form-field>
      <!-- Boton añadir -->
      <button class="col-2 boton2" (click)="crearOferta($event)">
        Gestionar ofertas
      </button>
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSourceOfertas" class="col-12">
          <!-- Columna id-->
          <ng-container matColumnDef="Id">
            <th mat-header-cell *matHeaderCellDef>Id</th>
            <td mat-cell *matCellDef="let element">{{ element.id }}</td>
          </ng-container>

          <!-- Columna nombre-->
          <ng-container matColumnDef="Nombre">
            <th mat-header-cell *matHeaderCellDef>Nombre</th>
            <td mat-cell *matCellDef="let element">{{ element.nombre }}</td>
          </ng-container>

          <!-- Columna porcentaje-->
          <ng-container matColumnDef="Porcentaje">
            <th mat-header-cell *matHeaderCellDef>Porcentaje</th>
            <td mat-cell *matCellDef="let element">
              {{ element.porcentaje }}
            </td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="Precio_original">
            <th mat-header-cell *matHeaderCellDef>Precio</th>
            <td mat-cell *matCellDef="let element">{{ element.precio }}</td>
          </ng-container>

          <!-- Columna fecha-->
          <ng-container matColumnDef="Fecha">
            <th mat-header-cell *matHeaderCellDef>Fecha salida</th>
            <td mat-cell *matCellDef="let element">
              {{ element.fecha_salida }}
            </td>
          </ng-container>

          <!-- Columna botones-->
          <ng-container matColumnDef="Modificar">
            <th mat-header-cell *matHeaderCellDef>Modificar</th>
            <td mat-cell *matCellDef="let element">
              <button
                mat-raised-button
                class="boton borrar"
                (click)="eliminarOferta(element)"
              >
                Borrar
              </button>
              <br />
              <br />
            </td>
          </ng-container>
          <!-- Columnas que se van a usar -->
          <tr mat-header-row *matHeaderRowDef="displayedColumnsOfer"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsOfer"></tr>
        </table>

        <!-- Paginador-->
        <mat-paginator
          #ofer
          [pageSizeOptions]="[5, 10, 20]"
          showFirstLastButtons
        ></mat-paginator>
      </div>
    </mat-tab>

    <!--Quinta pestaña-->
    <mat-tab label="Ventas">
      <br />
      <mat-form-field class="col-12">
        <mat-label>Buscar...</mat-label>
        <!-- Buscador -->
        <input
          matInput
          (keyup)="applyFilter($event)"
          placeholder="Minecraft, Hollow Knight..."
          #input
          autocomplete="off"
        />
      </mat-form-field>
      
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSourceVentas" class="col-12">
          <!-- Columna id -->
          <ng-container matColumnDef="Articulo">
            <th mat-header-cell *matHeaderCellDef>Articulo</th>
            <td mat-cell *matCellDef="let element">
              {{element.id_articulo}} | {{element.nombre_articulo}}
            </td>
          </ng-container>
          <!-- Columna nombre -->
          <ng-container matColumnDef="Usuario">
            <th mat-header-cell *matHeaderCellDef>Usuario</th>
            <td mat-cell *matCellDef="let element">
              {{element.id_usuario}} | {{element.nombre_usuario}}
            </td>
          </ng-container>
          <!-- Columna descripcion -->
          
          
          <!-- Columna precio -->
          <ng-container matColumnDef="Cantidad">
            <th mat-header-cell *matHeaderCellDef>Cantidad</th>
            <td mat-cell *matCellDef="let element">
              {{element.cantidad}}
            </td>
          </ng-container>
          <!-- Columna fecha -->
          <ng-container matColumnDef="Fecha">
            <th mat-header-cell *matHeaderCellDef>Fecha compra</th>
            <td mat-cell *matCellDef="let element">
              {{element.created_at}}
            </td>
          </ng-container>
          <!-- Columna de botones-->
          <ng-container matColumnDef="Total">
            <th mat-header-cell *matHeaderCellDef>Total</th>
            <td mat-cell *matCellDef="let element">
              {{element.precio_total}}€
            </td>
          </ng-container>
          
          <!-- Columnas que se van a usar -->
          <tr mat-header-row *matHeaderRowDef="displayedColumnsVentas"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsVentas"></tr>
        </table>

        <div class="total">
          <h1>Total: {{this.total}}€</h1>
        </div>
        <!--Paginador -->
        <mat-paginator
          #venta
          [pageSizeOptions]="[5, 10, 20]"
          showFirstLastButtons
        ></mat-paginator>
      </div>
    </mat-tab>
  </mat-tab-group>
  <br />
</div>
