table{
    background-color: #212529;
    
}

mat-paginator{
    background-color: #212529;
    color: white;
}

mat-paginator span{
    background-color: #212529;
    color: white;
}

::ng-deep .mat-select-arrow {
    color: white;
}

::ng-deep .mat-select-value {
    color: white;
}

th{
    color: white;
}

td{
    color: white;
}

.boton{
    border: solid 1px white;
    margin-top: 5px;
    background-color: transparent;
    color: white;
    
    margin-left: 10px;
}
.boton:hover{
    background-color: aquamarine ;
    box-shadow: 5px 5px red;
    
}