<div class="container">
  <mat-tab-group animationDuration="0ms">
    <mat-tab label="Productos">
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" class="col-12">
          <!-- Position Column -->
          <ng-container matColumnDef="Nombre">
            <th mat-header-cell *matHeaderCellDef>Nombre</th>
            <td mat-cell *matCellDef="let element">{{ element.nombre }}</td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="Descripcion">
            <th mat-header-cell *matHeaderCellDef>Descripcion</th>
            <td mat-cell *matCellDef="let element">
              {{ element.descripcion }}
            </td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="Precio">
            <th mat-header-cell *matHeaderCellDef>Precio</th>
            <td mat-cell *matCellDef="let element">{{ element.precio }}</td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="Fecha">
            <th mat-header-cell *matHeaderCellDef>Fecha salida</th>
            <td mat-cell *matCellDef="let element">{{ element.fecha_salida }}</td>
          </ng-container>

          <ng-container matColumnDef="Modificar">
            <th mat-header-cell *matHeaderCellDef>Modificar</th>
            <td mat-cell *matCellDef="let element">
              <button mat-raised-button class="boton" (click)="modificar(element)">Modificar</button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>

        <mat-paginator
          [pageSizeOptions]="[5, 10, 20]"
          showFirstLastButtons
        ></mat-paginator>
      </div>
    </mat-tab>

    <mat-tab label="Usuarios"> </mat-tab>
  </mat-tab-group>
  <br />
  
</div>
