.example-card {
    max-width: 250px;
    margin: 20px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  .mat-card{
    background-color: #212529;
    border: solid 1px white;
    box-shadow: 10px 10px #d4b170;
  }

  .mat-card-title { color: white;}
  .mat-card-content { color: white;}

  
button{
border: none;
background-color: #d4b170;
}

  button:hover {
    background-color: #d4b170;
    box-shadow: 5px 5px white;
  }