#contenido{
    background-color: #212529;
    color: white;
    margin-bottom: 10px;
    padding-bottom: 10px;
}


#nombre{
    text-align: center;
    margin-top: 10px;
}

img{
    padding: 0;
}
i{
    margin-top: 2px;
}

