<div class="container">
  <div class="row">
    <div class="col-12">
     
    </div>
  </div>
  <div class="row">
      
    <div class="col-12 col-lg-6 cont_img">
      <img src="{{ data.imagen_principal }}" />
    </div>

    <div class="col-12 col-lg-6" id="contenido">
      <mat-list-item><h1>{{data.nombre}} &nbsp; <span class="badge bg-dark" *ngIf="esOferta == true">  Oferta -{{data.porcentaje}}%</span></h1></mat-list-item>
      <div class="row">
        <p class="col-12">
          {{ data.descripcion }}
        </p>
        <div *ngIf="esOferta == false">
          <button class=" boton fifth offset-4 col-3" *ngIf="!enCesta" (click)="anadirCesta()" > Añadir <i class="fa fa-shopping-cart ml-1"></i>  &nbsp; {{data.precio}} €</button>
        </div>
        <div *ngIf="esOferta == true">
          <button class=" boton fifth offset-4 col-3" *ngIf="!enCesta" (click)="anadirCesta()" > Añadir <i class="fa fa-shopping-cart ml-1"></i>  &nbsp;<s> {{data.precio}}€</s> {{descuentoAplicado}}€</button>
  
        </div>
        <button class=" boton fifth offset-4 col-3"  *ngIf="enCesta" (click)="anadirCesta()"> Añadido a cesta</button>
        <button class=" boton fifth offset-4 col-3 deseado" *ngIf="!enDeseado" (click)="anadirDeseados()" > Añadir lista deseados</button>
        <button class=" boton fifth offset-4 col-3 deseado"  *ngIf="enDeseado" (click)="anadirDeseados()" > Añadido a deseados</button>
      </div>
    </div>
  </div>
</div>
