#contenido{
    background-color: #212529;
    color: white;
    
    padding: 10px;
    margin-bottom: 60px;
}


#nombre{
    text-align: center;
    margin-top: 10px;
}

img{
    
    width: 60%;
}

.cont_img{
    text-align: center;
}
i{
    margin-top: 2px;
}



.deseado{
    margin-top: 5px;
}
.container{
    margin-bottom: 30px;
}