<div class="container">
    <br>
    <form [formGroup]="signupForm" autocomplete="off" (ngSubmit)="submit()">
      <div class="row">
    
        <br />
        <br />
        <mat-form-field>
          <mat-label>Nombre</mat-label>
          <input matInput formControlName="nombre" />
        </mat-form-field>
  
        <mat-form-field>
          <mat-label>Apellido</mat-label>
          <input matInput formControlName="apellido" />
        </mat-form-field>
  
        <mat-form-field>
          <mat-label>Nick</mat-label>
          <input matInput formControlName="nick" />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Telefono</mat-label>
          <input
          type="number"
          autocomplete="doNotAutoComplete"
          matInput
          placeholder="+34"
          formControlName="telefono"
          pattern="(\+34|0034|34)?[ -]*(6|7)[ -]*([0-9][ -]*){8}" 
        /> <!--PATRON para solo aceptar numeros moviles españoles-->
        </mat-form-field>

        
  
        
        <mat-checkbox [(ngModel)]="checked" formControlName="es_admin" >Administrador</mat-checkbox>
        
        
        

        <div class="offset-5 col-5">
          <button [disabled]="signupForm.invalid" type="submit" class="boton">Enviar</button>
          <button (click)="cancelar()" class="boton borrar" type="button" >Cancelar</button>
        </div>
  
        <br />
        <br />
      </div>
    </form>
  </div>
  
