
/*Formulario e inputs*/
form{
    background-color: #212529;
    box-shadow: 5px 5px #d4b170;
    margin-bottom: 237px;
    border: solid 1px white;
}

mat-label{
    color: white;
}

input{
    color: white;
}


legend{
  color: white;
  margin:20px;
  padding-right: 50px;
  text-shadow: 2px 1px #d4b170;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


 /*Botones*/
button{
  background-color: #212529;
  color: #d4b170;
  border: 1px solid white;
  
}

button:hover {
  color: #d4b170;
  box-shadow: none;


  -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
  animation: heartbeat 1.5s ease-in-out infinite both;
}

:disabled{
background-color: red;
border: solid 1px white;
}

button:hover {
    color: white;
    box-shadow: none;


    -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
    animation: heartbeat 1.5s ease-in-out infinite both;
  }
  
:disabled{
  background-color: red;
}



