<div class="container">
    <div>
      <form
        class="text-center"
        [formGroup]="signupForm"
        (ngSubmit)="submit(signupForm.value)"
      >
        <legend >¿Se te ha olvidado la contraseña?</legend>
        <p>
          <mat-form-field appearance="standard">
            <mat-label>Introduce tu email</mat-label>
            <input
              matInput
              formControlName="email"
              autocomplete="doNotAutoComplete"
              size="40"
              
            />
            <mat-error>Email no valido</mat-error>
          </mat-form-field>
        </p>
        
        
        <button [disabled]="signupForm.invalid" type="submit">Enviar</button>
  
        <br />
        <br />
        <p style="color: white;">{{mensaje}}</p>
      </form>
    </div>
    
  </div>
  