<div class="container">
    <div>
      <form
        class="text-center"
        [formGroup]="retrieveForm"
        (ngSubmit)="submit()"
      >
        <legend style="color: white">Cambiar contraseña</legend>
        
        <p>
          <mat-form-field appearance="standard">
            <mat-label>Contraseña</mat-label>
            <input
              matInput
              type="password"
              formControlName="contra"
              autocomplete="doNotAutoComplete"
              (keyup)="comprobarNuevaContrasena()"
            />
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="standard">
            <mat-label>Confirmar contraseña</mat-label>
            <input
              matInput
              type="password"
              formControlName="confirmarContra"
              autocomplete="doNotAutoComplete"
              (keyup)="comprobarNuevaContrasena()"
            />
          </mat-form-field>
        </p>
        <div
          *ngIf="pass_correcto"
          class="alert alert-success col-2 offset-5"
          role="alert"
        >
          Las contraseñas coinciden
        </div>
        <div
          *ngIf="!pass_correcto"
          class="alert alert-danger col-2 offset-5"
          role="alert"
        >
          Las contraseñas no coinciden
        </div>
        <button [disabled]="!pass_correcto" type="submit">Cambiar</button>
  
        <br />
        <br />
      </form>
    </div>
    <br />
    <br />
    <br />
  </div>
  
