/*Formulario - inputs*/
form{
    background-color: #212529;
    border: white solid 1px;
    box-shadow: 5px 5px #d4b170;
}

mat-label{
    color: white;
}

input{
    color: white;
}



input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

legend{
  color: white;
  margin:20px;
  padding-right: 50px;
  text-shadow: 2px 1px #d4b170;
}

::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: #d4b170 !important;
}

::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: #d4b170 !important;
}

::ng-deep.mat-form-field-ripple {
  /*change color of underline when focused*/
  background-color: #d4b170 !important;
}

/*Botones*/
button{
  background-color: #212529;
  color: #d4b170;
  border: 1px solid white;
  
}

button:hover {
  color: #d4b170;
  box-shadow: none;


  -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
  animation: heartbeat 1.5s ease-in-out infinite both;
}


  
:disabled{
  background-color: red;
}
