form{
    background-color: #212529;
    box-shadow: 5px 5px red;
}

mat-label{
    color: white;
}

input{
    color: aquamarine;
}

::placeholder{
    color: aquamarine;
}

button{
    background-color: #212529;
    color: white;
    border: 1px solid aquamarine;
    
}

button:hover {
    color: aquamarine;
    box-shadow: none;


    -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
    animation: heartbeat 1.5s ease-in-out infinite both;
  }
  
:disabled{
  background-color: red;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

legend{
  color: white;
  margin:20px;
  padding-right: 50px;
  text-shadow: 2px 1px red;
}