<div class="container">
  <br />
  <div class="row">
    <mat-dialog-content class="form">
      <form autocomplete="off" (ngSubmit)="submit()">
        <div class="row">
          <mat-form-field class="example-full-width">
            <mat-label>Articulo</mat-label>
            <input
              matInput
              #articulo
              [matAutocomplete]="auto"
              [formControl]="stateCtrl"
            />
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option
                *ngFor="let state of filteredStates | async"
                [value]="state.nombre"
              >
                <span>{{ state.id }}</span> |
                <small>{{ state.nombre }}</small>
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Porcentaje de descuento</mat-label>
            <input matInput #percent type="number" min="1" max="100" size="2" />
          </mat-form-field>
          <span *ngIf="error">Error asegurate de introducir bien los datos y un porcentaje mayor de 100 y menor que 0</span>

          <div class="offset-5 col-5">
            <button type="submit" class="boton">Modificar</button>
            <button (click)="cancelar()" class="boton borrar" type="button">
              Cancelar
            </button>
          </div>

          <br />
          <br />
        </div>
      </form>
    </mat-dialog-content>
  </div>
</div>
