form{
    background-color: #212529;
    border: black;
    padding: 0px;
    
}

button{
    background-color: #d4b170;;
    ;
}

button:hover{
    box-shadow: 5px 5px white;
}

p{
    color: white;
}

mat-label{
    color: white;
}

a{
    color: white
}
