
<form class="text-center p-5" [formGroup]="login" (ngSubmit)="submit($event)">
  <p class="h4 mb-4">Iniciar sesion</p>

  <!-- Email -->
  <p>
    <mat-form-field appearance="standard">
      <mat-label>Email</mat-label>
      <input
        matInput
        formControlName="email"
        autocomplete="doNotAutoComplete"
      />
    </mat-form-field>
  </p>

  <!-- Contraseña -->
  <p>
    <mat-form-field appearance="standard">
      <mat-label>Contraseña</mat-label>
      <input
        matInput
        formControlName="password"
        type="password"
        autocomplete="doNotAutoComplete"
      />
    </mat-form-field>
  </p>

  <!-- Error en credenciales -->
  <div
    *ngIf="errorCredeciales"
    class="alert alert-danger d-flex justify-content-around"
    role="alert"
  >
    El correo electronico y <br />
    la contraseña no coincide
  </div>
  <div class="d-flex justify-content-around">
    <div>
      <!-- Forgot password -->
      <a href="/forgotpassword">¿Olvidaste la contraseña?</a>
    </div>
  </div>

  <!-- Sign in button -->
  <button mdbBtn class="my-4" type="submit">Iniciar sesion</button>

  <!-- Register -->
  <p>
    <a href="/register">Registrarse</a>
  </p>

  
</form>

