<!-- Default form login -->
<form class="text-center p-5"  [formGroup]="login"  (ngSubmit)="submit($event)">
  <p class="h4 mb-4">Iniciar sesion</p>

  <!-- Email -->
  
  
  <p>
    <mat-form-field appearance="standard">
      <mat-label>Nombre de usuario</mat-label>
      <input
        matInput
        formControlName="email"
        autocomplete="doNotAutoComplete"
      />
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="standard">
      <mat-label>Nombre</mat-label>
      <input
        matInput
        placeholder="Ej. Maria"
        formControlName="password"
        autocomplete="doNotAutoComplete"
      />
    </mat-form-field>
  </p>
 
  <div class="d-flex justify-content-around">
    <div>
      <!-- Forgot password -->
      <a href="">¿Olvidaste la contraseña?</a>
    </div>
  </div>

  <!-- Sign in button -->
  <button mdbBtn  class="my-4" type="submit">Iniciar sesion</button>

  <!-- Register -->
  <p>
    <a href="/register">Registrarse</a>
  </p>

  <!-- Social login -->
</form>
<!-- Default form login -->
