form{
    background-color: #212529;
    border: black;
    padding: 0px;
    
}

button{
    background-color: springgreen;
}

button:hover{
    box-shadow: 5px 5px red;
}

p{
    color: white;
}

mat-label{
    color: white;
}


