<script src="app.js"></script>

<!--https://www.youtube.com/watch?v=FUVQLrLE7lo-->


<div class="container">
  <div class="offset-md-1 col-md-">
    <carousel
      [loop]="true"
      [cellsToScroll]="3"
      [objectFit]="'cover'"
      [arrowsOutside]="true"
      [lightDOM]="false"
      class="carousel--slider-aligment"
    >
      <div class="carousel-cell">
        <div class="card card-border-none">
          <h5><span class="badge bg-secondary">50% off</span></h5>
          <img
            src="C:\Users\manue\Desktop\Proyecto-DAW\Frontend\Proyecto-DAW\src\app\img_prueba\1.png"
          />
          <div class="card-body">
            <h5 class="card-title">La wea</h5>
            <p class="card-text">
              <b class="global-text-color mr-1">35.00€</b> <s>75.00€</s>
            </p>
            <div class="d-flex justify-content-center">
              <a href="#" class="btn btn-sm btn-dark">
                Añadir <i class="fa fa-shopping-cart ml-1"></i
              ></a>
            </div>
          </div>
        </div>
      </div>

      <div class="carousel-cell">
        <div class="card card-border-none">
          <h5><span class="badge bg-secondary">50% off</span></h5>
          <img
            src="C:\Users\manue\Desktop\Proyecto-DAW\Frontend\Proyecto-DAW\src\app\img_prueba"
          />
          <div class="card-body">
            <h5 class="card-title">La wea</h5>
            <p class="card-text">
              <b class="global-text-color mr-1">35.00€</b> <s>75.00€</s>
            </p>
            <div class="d-flex justify-content-center">
              <a href="#" class="btn btn-sm btn-dark">
                Añadir <i class="fa fa-shopping-cart ml-1"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-cell">
        <div class="card card-border-none">
          <h5><span class="badge bg-secondary">50% off</span></h5>
          <img
            src="C:\Users\manue\Desktop\Proyecto-DAW\Frontend\Proyecto-DAW\src\app\img_prueba"
          />
          <div class="card-body">
            <h5 class="card-title">La wea</h5>
            <p class="card-text">
              <b class="global-text-color mr-1">35.00€</b> <s>75.00€</s>
            </p>
            <div class="d-flex justify-content-center">
              <a href="#" class="btn btn-sm btn-dark">
                Añadir <i class="fa fa-shopping-cart ml-1"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-cell">
        <div class="card card-border-none">
          <h5><span class="badge bg-secondary">50% off</span></h5>
          <img
            src="C:\Users\manue\Desktop\Proyecto-DAW\Frontend\Proyecto-DAW\src\app\img_prueba"
          />
          <div class="card-body">
            <h5 class="card-title">La wea</h5>
            <p class="card-text">
              <b class="global-text-color mr-1">35.00€</b> <s>75.00€</s>
            </p>
            <div class="d-flex justify-content-center">
              <a href="#" class="btn btn-sm btn-dark">
                Añadir <i class="fa fa-shopping-cart ml-1"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-cell">
        <div class="card card-border-none">
          <h5><span class="badge bg-secondary">50% off</span></h5>
          <img
            src="C:\Users\manue\Desktop\Proyecto-DAW\Frontend\Proyecto-DAW\src\app\img_prueba"
          />
          <div class="card-body">
            <h5 class="card-title">La wea</h5>
            <p class="card-text">
              <b class="global-text-color mr-1">35.00€</b> <s>75.00€</s>
            </p>
            <div class="d-flex justify-content-center">
              <a href="#" class="btn btn-sm btn-dark">
                Añadir <i class="fa fa-shopping-cart ml-1"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-cell">
        <div class="card card-border-none">
          <h5><span class="badge bg-secondary">50% off</span></h5>
          <img
            src="C:\Users\manue\Desktop\Proyecto-DAW\Frontend\Proyecto-DAW\src\app\img_prueba"
          />
          <div class="card-body">
            <h5 class="card-title">La wea</h5>
            <p class="card-text">
              <b class="global-text-color mr-1">35.00€</b> <s>75.00€</s>
            </p>
            <div class="d-flex justify-content-center">
              <a href="#" class="btn btn-sm btn-dark">
                Añadir <i class="fa fa-shopping-cart ml-1"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-cell">
        <div class="card card-border-none">
          <h5><span class="badge bg-secondary">50% off</span></h5>
          <img
            src="C:\Users\manue\Desktop\Proyecto-DAW\Frontend\Proyecto-DAW\src\app\img_prueba"
          />
          <div class="card-body">
            <h5 class="card-title">La wea</h5>
            <p class="card-text">
              <b class="global-text-color mr-1">35.00€</b> <s>75.00€</s>
            </p>
            <div class="d-flex justify-content-center">
              <a href="#" class="btn btn-sm btn-dark">
                Añadir <i class="fa fa-shopping-cart ml-1"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-cell">
        <div class="card card-border-none">
          <h5><span class="badge bg-secondary">50% off</span></h5>
          <img
            src="C:\Users\manue\Desktop\Proyecto-DAW\Frontend\Proyecto-DAW\src\app\img_prueba"
          />
          <div class="card-body">
            <h5 class="card-title">La wea</h5>
            <p class="card-text">
              <b class="global-text-color mr-1">35.00€</b> <s>75.00€</s>
            </p>
            <div class="d-flex justify-content-center">
              <a href="#" class="btn btn-sm btn-dark">
                Añadir <i class="fa fa-shopping-cart ml-1"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-cell">
        <div class="card card-border-none">
          <h5><span class="badge bg-secondary">50% off</span></h5>
          <img
            src="C:\Users\manue\Desktop\Proyecto-DAW\Frontend\Proyecto-DAW\src\app\img_prueba"
          />
          <div class="card-body">
            <h5 class="card-title">La wea</h5>
            <p class="card-text">
              <b class="global-text-color mr-1">35.00€</b> <s>75.00€</s>
            </p>
            <div class="d-flex justify-content-center">
              <a href="#" class="btn btn-sm btn-dark">
                Añadir <i class="fa fa-shopping-cart ml-1"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-cell">
        <div class="card card-border-none">
          <h5><span class="badge bg-secondary">50% off</span></h5>
          <img
            src="C:\Users\manue\Desktop\Proyecto-DAW\Frontend\Proyecto-DAW\src\app\img_prueba"
          />
          <div class="card-body">
            <h5 class="card-title">La wea</h5>
            <p class="card-text">
              <b class="global-text-color mr-1">35.00€</b> <s>75.00€</s>
            </p>
            <div class="d-flex justify-content-center">
              <a href="#" class="btn btn-sm btn-dark">
                Añadir <i class="fa fa-shopping-cart ml-1"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </carousel>
    <br />
    <br />
    <br />
    <br />

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
  </div>
</div>
