<script src="app.js"></script>

<!--https://www.youtube.com/watch?v=FUVQLrLE7lo-->



<div class="container">
  <mat-list>
    <mat-list-item><h1 class="seccion">Juego destacado</h1></mat-list-item>
    <mat-divider></mat-divider>
    <br>
<div class="row">
  <div class="d-none d-sm-block col-lg-8 " >
    <iframe
      width="800"
      height="490"
      [src] =   "safeUrl"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </div>

  <div class="col-12 col-lg-4 contenedor" >
    <u><h1>Hollow knight</h1></u>
    <p>
      Una aventura épica a través de un vasto reino de insectos y héroes que se encuentra en ruinas. Explora cavernas tortuosas, combate contra criaturas corrompidas y entabla amistad con extraños insectos, todo en un estilo clásico en 2D dibujado.
    </p>
<p>
  El videojuego cuenta la historia del Caballero, en su búsqueda para descubrir los secretos del largamente abandonado reino de Hallownest, cuyas profundidades atraen a los aventureros y valientes con la promesa de tesoros o la respuesta a misterios antiguos.
</p>
<h1></h1><button  class=" boton fifth offset-4 col-3" (click)="redirigirDestacado()">Visitar producto</button>
    <div class="col-12 d-sm-none" >
      <iframe
        width="460"
        height="250"
        [src] =   "safeUrl"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
  </div>
</div>

  
    <mat-list-item><h1 class="seccion"> Ofertas</h1></mat-list-item>
    <mat-divider></mat-divider>
    
    <br>
  <div >
    <app-carrusel></app-carrusel>
    <br />
    <br />
    <br />
    <br />
  </div>
  </mat-list>
</div>
