#contenedor{
padding: 100px;
background-color: #212529;
}

.boton {
    margin-top: 5px;
    background-color: transparent;
    color: white;
    border: none;
    margin-left: 10px;
  }
  .boton:hover {
    background-color: #d4b170;
    box-shadow: 5px 5px white;
  }