#contenido{
    background-color: #212529;
    color: white;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.mat-list-item{
    color: white !important;
    height: 130px !important;
    width: 900px !important;
}
mat-list-item:hover{
background-color: aquamarine;


}
img{
    width: 230px;
    height: 107.5px;
    
}



table{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #212529;
    
    
}


th{
    color: white;
}

td{
    color: white;
}

td:hover{
    cursor: pointer;
    
}

.borrar{ 
    text-align: center;
}

i{
    
    color: red;
    font-size: 20px;
    padding: 5px;
    border-radius: 20px;
}

i:hover{
    background-color: red;
    color: #212529;
    font-size: 20px;
}

.empty{
    text-align: center;
    padding: 30px;
}
.sad{
    
font-size: 50px;
}

.sad:hover{
    color: red;
    font-size: 50px;
    background-color: transparent;
}


h1{
    font-size: 30px;
    margin-top: 10px;
    color: #212529;
}
.pago{
    margin-top: 5px;
}

button{
    border: none;
    color: white;
    background-color: #212529;
}
button:hover{
    
  box-shadow: 5px 5px red;
}