<script src="https://www.paypal.com/sdk/js?client-id=AWBRqaDdGo1C_LtUP2dYLRtG3r9VTNRzlmCeiD5bTKbcmrCmuM7NsmxQV0nekvkNndkYWa4AyRd0ygI2&currency=EUR"></script>

<div class="container">
  <div class="row">
    <div class="mat-elevation-z8 contenido">
      <mat-list-item><h1 >Mis productos</h1></mat-list-item>
    <mat-divider></mat-divider>
      <table mat-table [dataSource]="juegosCesta" class="col-12">
        <ng-container matColumnDef="Imagen" >
          <th mat-header-cell *matHeaderCellDef style="display: none">
            Imagen
          </th>
          <td mat-cell *matCellDef="let element" >
            <img src="{{ element.imagen_principal }}" />
          </td>
        </ng-container>
        <!-- Position Column -->
        <ng-container matColumnDef="Nombre">
          <th mat-header-cell *matHeaderCellDef style="display: none">
            Nombre
          </th>
          <td mat-cell *matCellDef="let element" (click)="redirigir(element.id_articulo)">{{ element.nombre }}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="Descripcion">
          <th mat-header-cell *matHeaderCellDef style="display: none">
            Descripcion
          </th>
          <td mat-cell *matCellDef="let element" (click)="redirigir(element.id_articulo)">{{ element.descripcion }}</td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="Precio">
          <th mat-header-cell *matHeaderCellDef style="display: none">
            Precio
          </th>
          <td mat-cell *matCellDef="let element" (click)="redirigir(element.id_articulo)">{{ element.precio }} €</td>
        </ng-container>
        <!-- https://www.npmjs.com/package/ngx-number-spinner -->
        <ng-container matColumnDef="Cantidad">
          <th mat-header-cell *matHeaderCellDef style="display: none">
            Cantidad
          </th>
          <td mat-cell *matCellDef="let element">
            <div>
              <ngx-number-spinner
              
                [min]="1"
                [value]="element.cantidad"
                [max]="99"
                (change)="cambioCantidad($event, element)"
              >
              </ngx-number-spinner>
            </div>
          </td>
        </ng-container>
        <!-- Symbol Column -->
        <ng-container matColumnDef="Boton">
          <th mat-header-cell *matHeaderCellDef style="display: none" ></th>
          <td
            mat-cell
            *matCellDef="let element"
            class="borrar"
            (click)="eliminarDelCarrito(element)"
          >
            <i class="fas fa-trash-alt"></i>
          </td>
        </ng-container>

        <tr
          mat-header-row
          *matHeaderRowDef="displayedColumns"
          style="display: none"
        ></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <div *ngIf="juegosCesta.length === 0" class="empty">
        <h1>Parece que no has añadido nada aun a tu cesta</h1>
        <i class="far fa-frown sad"></i>

        <h1>Explora nuestros productos <a href="products">aqui</a></h1>
        <br />
  <br />
  <br />
  <br />
      </div>
    </div>
  </div>
  <br />
  <br />
  <mat-divider></mat-divider>
  
<div class="col-12 text-end pago " *ngIf="juegosCesta.length != 0">
  <div class="row">
  <h1 class="col-11">Total: {{totalCoste}} €</h1>
  <button class="col-1" (click) = "pagar()">Pagar 

  </button>
  </div>
</div>
<br>
<br>
<br>
</div>
