<div class="container">
  <br />
  <form [formGroup]="signupForm" autocomplete="off" (ngSubmit)="submit()">
    <div class="row">
      <mat-form-field>
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="nombre" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Descripcion</mat-label>
        <textarea matInput formControlName="descripcion"></textarea>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Precio</mat-label>
        <input
          matInput
          type="number"
          min="0"
          max="999"
          class="example-right-align"
          formControlName="precio"
        />
        <span matSuffix style="color: white">€</span>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Fecha salida YYYY-MM-DD</mat-label>
        <input
          matInput
          formControlName="fecha_salida"
          placeholder="YYYY-MM-DD"
        />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Imagen</mat-label>
        <input matInput formControlName="imagen" />
      </mat-form-field>

      <br />
      <br />
      <div class="offset-5 col-5">
        <button [disabled]="signupForm.invalid" type="submit" class="boton">
          Modificar
        </button>
        <button (click)="cancelar()" class="boton borrar" type="button">
          Cancelar
        </button>
      </div>

      <br />
      <br />
    </div>
  </form>
</div>
