

/*tr:hover{
    box-shadow: 5px 5px red;
    background-color: khaki;
}*/

.mat-row:hover {
    background-color: #d4b170;
  }

  .mat-row:hover .badge{
    background-color: #212529;
  }
th{
    color: white;
    border-bottom: white 1px solid;

}

td{
    color: white;
    

}

td:hover{
    cursor: pointer;
    
}

thead>tr:first-child:hover{
    background-color: #212529;
    box-shadow: none;
    
}

table{
    background-color: #212529;
    border: white solid 1px;
}

mat-label{
    color: #d4b170;
}
mat-paginator{
    background-color: #212529;
    color: white;
    border: white solid 1px;

}

mat-paginator span{
    background-color: #212529;
    color: white;
}

::ng-deep .mat-select-arrow {
    color: white;
}

input::placeholder{
    color: white;
}

input{
    color: white;
}

::ng-deep .mat-select-value {
    color: white;
}

::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: #d4b170 !important;
   }
  
   ::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: #d4b170 !important;
  } 
  
  ::ng-deep.mat-form-field-ripple {
   /*change color of underline when focused*/
   background-color: #d4b170 !important;;
  }

.mat-column-Descripcion {
    word-wrap: break-word !important;
    white-space: unset !important;
   
    width: 30% !important;
    padding: 20px !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }

  .mat-column-Nombre {
    word-wrap: break-word !important;
    white-space: unset !important;
    
    width:15% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }

  .mat-column-Fecha {
    word-wrap: break-word !important;
    white-space: unset !important;
    
    width:15% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }

  .mat-column-Precio {
    word-wrap: break-word !important;
    white-space: unset !important;
    
    width:10% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }

  img{
      width: 230px;
      height: 107.5px;
  }