

/*tr:hover{
    box-shadow: 5px 5px red;
    background-color: khaki;
}*/


table{
    background-color: #212529;
    
}
th{
    color: white;
}

td{
    color: white;
}

td:hover{
    cursor: pointer;
    color: black;
}

thead>tr:first-child:hover{
    background-color: #212529;
    box-shadow: none;
    
}

mat-paginator{
    background-color: #212529;
    color: white;
}

mat-paginator span{
    background-color: #212529;
    color: white;
}
